* {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 250);
  color: rgb(25, 52, 65);
}

.main-header {
  background-image: url('https://media.giphy.com/media/l2Sq7EM6tK1MY5urC/giphy.gif');
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.school-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  -webkit-border-radius: 15px;
  width: 50%;
  height: 100px;
  border: 1px solid black;
}

.school-sign h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  height: 81.5%;
  width: 97.5%;
  -webkit-border-radius: 15px;
}

.main-title {
  background: none;
  color: black;
  font-family: arial;
  border: 5px solid black;
  width: 95%;
}

.district-repository-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controls-container {
  background-color: #394648;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-input {
  width: 50%;
  height: 35px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  border: 2px solid lightgrey;
}

.district-container {
  background: rgb(255, 255, 250);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selected-cards {
  background-image: url(../../assets/chalkboard.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 85%;
}

.card {
  align-items: center;
  background: #446df6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  opacity: .9;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  /*font-family: 'Permanent Marker', cursive;*/
  font-size: 20px;
}

.card ul {
  width: 80%;
  background: none;
}

.card li {
  display: flex;
  justify-content: space-around;
  background: none;
}

.card span {
  display: flex;
  width: 50px;
  background-color: inherit;
}

.year-data {
  flex-direction: row-reverse;
}

.compare-message {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #394648;
  margin: 0;
  font-size: 50px;
  color: white;
}

.selected-district-card {
  background: none;
  opacity: 0;
  opacity: 1\9;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
}

.selected-district-card h3 {
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 1px black;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clicked {
  background-color: purple;
  outline: 3px solid green;
}

.comparison-card {
  background: none;
  order: 1;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

.card h3 {
  margin: 10px;
  background: none;
  color: rgb(255, 255, 250);
  text-align: center;
}

.card-list {
  list-style-type: none;
}
